.formula {
  min-height: 35px;
}
.note{
    margin-top: 5px;
    padding-left: 25px;
    font-size: 90%;
    color: gray;
    text-align: justify;
  }
ul {
    padding: 0 0 0 2px;
  }
b {
    font-style: italic;
    font-family: "Times New Roman";
  }
code {
  background-color: silver;
  color: black;
}
.body {
  max-width: 900px;
  border: solid;
  margin: auto;
  padding: 0px 15px;
}
.body p {
  padding: 0px 3px;
  text-align: justify;
}
video {
  margin: auto;
}
